<div class="container">
<div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <table class="table table-hover">
        <thead>
            <h2>ユーザー</h2>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <% if user.id != current_user.id %>
                <td class="left">
                  <%= link_to profile_img(user), user %>
                  <strong><%= link_to user.name, user %></strong>
                </td>
                <td>
                  <%= render partial: 'follow_form', locals: { user: user } if signed_in?  %>
                </td>
                <td>
                  <%= link_to 'メッセージを送る', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', class: 'btn btn-primary btn-block' %>
                </td>
              <% end %>
            </tr>
          <% end %>
      </tbody>
    </table>
</div>
</div>
